<nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tradicion De Lemuy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Inicio", "#inicio" , class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Fotos", "#foto" , class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Videos", "#video" , class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Contacto", "#contacto", class:"nav-link" %> 
                  </li>
            </ul>
        </div>
    </div>
</nav>
