


<div id="video" class="section custom-font">
    <h1 class="titulo_video">VIDEOS</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; 1er lugar en Ancud con "Pericona del Pescador"</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/45SWOx7_JpM?si=6AKesmSi6BJQmfsM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; 2do lugar en Ancud con "Navegante Chilote"</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VRBlURzWhYc?si=w81IVB3NHSOC7_X4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; 2do lugar en Queilen con "Vuelvo a ti Chiloe"</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KltBdVmLLyg?si=ILtrSMfVOqwjQWcn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; 2do lugar en el festival "Un Canto a la Pincoya", con el tema "Redes Vacías" Castro</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tAEPVklMpjw?si=HAGq9b0dRnfJk3xx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; Tema "Es Tan Grande Este Amor" Autor Alma Chaqueña</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fweb.facebook.com%2Fgrupotradicionlemuy%2Fvideos%2F811500050707266%2F&show_text=false&width=560&t=0" width="auto" height="auto" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-12">
                <div class="video-container">
                    <h4>&bull; Tema "Corazon de Escarcha" Autor Hector Pavez</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4yz9XQ9-9T4?si=lETP5o9asl35Qqs3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
