<div id="inicio" class="section">
    <br>
    <br> <br> <br>
    <h1 class="text-center custom-font">GRUPO TRADICIÓN DE LEMUY</h1>
    <div class="container">
        <div class="texto custom-font">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p>
                        Se forman en el año 2011 con el claro y genuino deseo de conservar y promover nuestra cultura musical chilota, aportando nuevas letras y armonías a nuestro cancionero popular, sin abandonar su esencia, como hijos de esta tierra. Desde entonces se han presentado en diversos escenarios y festivales de nuestra comuna y fuera de ella, tales como:
                    </p>
                    <div class="festivales">
                        <ul>
                            <li>Festival "Un canto a Chilwe" en Ancud</li>
                            <li>Festival "El Sacho" Queilen</li>
                            <li>Festival "El Gorro De Lana" en Quellón</li>
                            <li>Festival "Canto A La Pincoya" en Castro</li>
                            <li>
                                Ademas de las fiestas costumbristas en:
                                La estancia, Castro, Chonchi, Cucao, Huillinco, Queilen, Ancud, Puqueldon, Puchilco, Ichuac, Liucura y Detif
                            </li>
                            <li>Ganadores del 1er lugar en Ancud con "Pericona del Pescador"</li>
                            <li>Ganadores del 2do lugar en Queilen con "Vuelvo a ti Chiloe"</li>
                            <li>Ganadores del 2do lugar en Ancud con "Navegante Chilote"</li>
                            <li>Ganadores del 2do lugar en Castro con el tema "Redes Vacías"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
