/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 


.texto{
text-align: center;
}

#inicio {
      background-color: black;
      color: white;
      padding-top: 50px;
}
.center-text {
        text-align: center;
}


.festivales {
    margin-left: 50px;
}

#foto {
    background-color: black;
    color: white;
    margin-top: -20px;
    padding-top: 200px;
}

.titulo_foto {
  text-align: center;
}
.carousel {
    max-width: 800px; /* Establece el tamaño máximo deseado */
    margin: 0 auto; /* Centra el carrusel en la página */
  }


#video {
    background-color: black;
    color: white;
    padding-top: 200px;
 }

.titulo_video {
  text-align: center;
}

#contacto {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -20px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.futer {
   text-align: center;
 }
